{% extends "testapp/base.html" %}
{% block content %}
<br>
<h2>Add a new Event:</h2>

<div class="container-row-column-mobile w-100">
    <div class='widget_bigger_ landscape w-100'>
<form action="{% url 'testapp:new_event' %}" method='post' class="form_without_">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" class="w-50" style="margin: 10px 0 10px 0;">Add event</button>
</form>
    </div>
    </div>
    <script>
        let para__to_del = document.querySelectorAll('p')[0]
        para__to_del.style.display = 'none'
    </script>
{% endblock content %}