{% extends "testapp/base.html" %}
{% block content %}
<br>
<div class="container-row-column-mobile w-100">
    <div class='widget_bigger_ landscape w-100'>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Date created</th>
            <th>Var</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for value in values%}
            <tr>
                <td>{{value.date_created}}</td>
                <td>{{value.var.value_name}}</td>
                <td>{{value.value}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
    </div>
    <script>
        let para__to_del = document.querySelectorAll('p')[0]
        para__to_del.style.display = 'none'
    </script>
{% endblock content %}